* {
    box-sizing: border-box;
}

:root {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

html,
body {
    margin: 0;
    padding: 0;
}

html,
body,
input,
label,
span,
p,
textarea {
    font-family: 'Montserrat', sans-serif;
}

a,
u {
    text-decoration: none;
}
